[[!meta title="Welcome to Tails!"]]

[[!meta stylesheet="home" rel="stylesheet" title=""]]

[[!meta robots="noindex"]]

[[!meta script="home"]]

<div>
[[!inline pages="home/donate" raw="yes" sort="age"]]
</div>

<div>
[[!inline pages="news" raw="yes" sort="age"]]
</div>
