<ol>

<li>
   <p class="usb">Shut down the computer while leaving the USB stick plugged in.</p>
   <p class="mac-clone">Plug in the other Tails USB stick that you want to install from.</p>
</li>

<li>
   <p>Switch on the computer and immediately press-and-hold the
   <span class="keycap">Option</span> key (<span class="keycap">Alt</span> key) until a list of possible startup
   disks appears.</p>

   <p>[[!img install/inc/screenshots/mac_option_key.png class="mac mac-clone" link="no" alt="'Option' or 'alt' key in the bottom left of Mac keyboard"]]</p>
</li>

<li>
   <p>Choose the USB stick and press
   <span class="keycap">Enter</span>. The USB stick appears as an external hard
   disk and might be labeled <span class="guilabel">EFI Boot</span> or
   <span class="guilabel">Windows</span> like in the following screenshot:</p>

   <p>[[!img install/inc/screenshots/mac_startup_usb.png class="mac mac-clone" link="no" alt="Screen with the logo of an internal hard disk labeled 'Macintosh HD' and an external hard disk labelled 'Windows' (selected)"]]</p>

</li>

<li>

   <p>If the computer starts on Tails, the <span class="application">Boot Loader Menu</span>
   appears and Tails starts automatically after 4 seconds.</p>

   <p>[[!img install/inc/screenshots/boot_loader_menu.png link="no" alt="Black screen with Tails artwork. Boot Loader Menu with two options 'Tails' and 'Tails (Troubleshooting Mode)'."]]</p>

   <div class="bug mac mac-clone">
   <p>If your computer fails to start on the USB stick, then it might
   currently be impossible to start Tails on your Mac model.</p>
   </div>
</li>

</ol>
